@import "colors/default.scss";

.collections{
  margin-bottom: 30px;

  .carousel{
    .carousel-control{
      width: 5%;
      background-image: none;
    }

    .carousel-indicators{
      display: none;
    }
  }

  .collections-list{
    .collection{
      overflow: hidden;
      .collection-content{
        background-color: $collection-thumb-bg-color;

        .collection-label{
          padding: 5px;
          background-color: $collection-thumb-label-color;
          z-index: 100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          text-align: left;
          color: $collection-thumb-label-text-color;
        }

        .collection-thumb{
          z-index: 98;
          position: absolute;
          width: 100%;
          height: 100%;
          color: $blue;

          .round-icon-button{
            position: absolute;
            background-color: $white;
            width: 30%;
            height: 50%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            span.glyphicon{
              color: $blue;
            }

            span.svg-icon, .png-icon{
              position: absolute;
              top: 0;
              left: 0;
              background-size: 50% 50%;
              background-position: center center;
            }
          }
        }

        .collection-counter{
          z-index: 99;
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
      }
    }
  }
}
