/** Ingest steps icons **/
$availableIcons: "big-add", "add", "annotation", "cart", "editorial", "enrichment", "arts", "disasters", "education", "environment", "health", "holidays", "lifestyle", "media", "politics", "religion", "society", "transportation", "wars", "work";

.svg-icon{
  @each $icon in $availableIcons{
    &.svg-icon-#{$icon}{
      background-image: url("../images/icons/#{$icon}.svg");
      background-repeat: no-repeat;
    }
    &.svg-icon-#{$icon}:hover,&.svg-icon-#{$icon}.active{
      background-image: url("../images/icons/#{$icon}-hover.svg");
      background-repeat: no-repeat;
    }
  }
}
