@import "colors/default.scss";
@import "mixins/aspect-ratio.scss";
@import "sass-mediaqueries/_media-queries.scss";

$default-item-row-height: 150px;
$desktop-item-row-height: $default-item-row-height;
$desktop-item-row-thumb-aspect-ratio: 16/9;
$desktop-item-row-margin-bottom: 10px;

.items{
  position: relative;

  .item-actions{
    width: 100%;
    height: 100%;
    padding-right: 10px;

    @include min-screen(1024px) {
      height: 40px;
    }
    .round-icon-button{
      margin-top: 5px;
      position: relative;
      color: $white;
      background-color: $light-gray;
      float: right;
      height: 100%;
      margin-left: 5px;

      @include min-screen(1024px) {
        width: 40px;
      }

      span.glyphicon{
        font-size: 1vw;
        color: $white;
      }

      span.svg-icon{
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 50% 50%;
        background-position: center center;
      }

    }

    .round-icon-button:hover{
      background-color: $dark-gray;

      span.glyphicon{
        color: $blue;
      }

    }
  }

  .item{
    position: relative;
    overflow: hidden;
    margin-bottom: $desktop-item-row-margin-bottom;
    height: $default_item_row_height;

    @include min-screen(1024px) {
      height: $desktop_item_row_height;
    }

    .item-thumb{
      float: left;
      position: relative;
      @include min-screen(1024px) {
        height: $desktop_item_row_height;
        width: $desktop_item_row_height * $desktop-item-row-thumb-aspect-ratio;
      }

      overflow: hidden;
      .svg-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background-color: $white;
        border-radius: 50%;
        background-position: center center;
        background-size: 100% 100%;
      }
    }

    .item-information{
      height: $desktop_item_row_height;
      background-color: $list-item-color;
      width: auto;
      overflow: hidden;

      .item-descriptions{
        h3{
          margin-top: 0.5em;
        }
        padding-left: 0.5em;
      }

      .item-actions{
        width: 100%;
        padding-right: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;

        .seperator{
            float: right;
            height: 100%;
            width:2px;
            margin-left: 5px;
            border: 1px solid $dark-gray;
        }

        .round-icon-button{
          margin-top: 0;
        }
      }
    }
  }

  .add-item{
    .contents{
      background-color: $blue;
    }
  }
  .add-item-form{
    height: 300px;
    .contents{
      background-color: $list-item-color;
      .item-information{
        height: 300px;
      }
      .item-thumb{
        margin-top: 25px;
        background-color: $blue;
      }
      form{
        padding-top: 20px;
        input, textarea{
          color: black;
        }
      }
    }
  }
}
