$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "mixins/aspect-ratio.scss";
@import "collections.scss";
@import "items.scss";
@import "login.scss";
@import "icons.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "sass-mediaqueries/_media-queries.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Element that maintains aspect-ratio */
.sixteen-nine {
  @include aspect-ratio(16, 9);
}
.four-three {
  @include aspect-ratio(4, 3);
}

.one-one{
  @include aspect-ratio(1, 1);
}

/* Image that stays in middle (vertically & horizontally) */
.center-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .center {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .vcenter {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hcenter {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* Element that fills its parent element */
.fill {
  width: 100%;
  height: 100%;
}
.fill-height {
  height: 100%;
}
.fill-width {
  width: 100%;
}

/* Pagination inside navbar fix */
.navbar-form.paging ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Pagination styles */
.pagination > li > a {
  border: none;
  color: $blue;
}
.pagination > li.active > a {
  background-color: $light-blue;
}
.pagination > li > a:hover {
  background-color: $light-blue;
  color: $white;
}

/* Navbar styles */
.navbar-default{
  background-color: $blue;
  border-radius: 0;
  border: none;
  color: $white;
  .navbar-brand {
    color: $white;
  }

  .navbar-nav{

    li > a, li > a:hover, li > a:visited{
      color: $white;
    }

    .dropdown-menu{
      border: none;
      border-radius: 0px;
      background-color: $white;
      color: $blue;

      > li > a{
        color: $blue;
        background-color: $white;
      }
    }



    .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
      background-color: $blue;
      color: $white;
    }
  }

}

/* Round icon button */
.round-icon-button{
  border: none;
  border-radius: 50%;

  position: relative;
  color: $white;
  background-color: $light-gray;
  margin-left: 5px;

  span{
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 3vw;
    vertical-align: middle;
  }

  span.glyphicon{
    font-size: 1vw;
    color: $white;
  }

  span.svg-icon{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50% 50%;
    background-position: center center;
  }
}

.round-icon-button:hover{
  background-color: $dark-gray;

  span.glyphicon{
    color: $blue;
  }

}

/* Search input */
.input-group.search {
    border-radius: 10px;
    overflow: hidden;
   ::-webkit-input-placeholder {
    color: $light-gray;
  }
   :-moz-placeholder {
    /* Firefox 18- */
    color: $light-gray
  }
   ::-moz-placeholder {
    /* Firefox 19+ */
    color: $light-gray
  }
   :-ms-input-placeholder {
    color: $light-gray
  }
  input[type="text"] {
    color: $white !important;
    border: none;
    background-color: $light-blue;
    box-shadow: none;
  }
  .input-group-addon {
    border: none;
    color: $white !important;
    background-color: $light-blue;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
