@import "colors/default.scss";
@import "mixins/aspect-ratio.scss";
@import "sass-mediaqueries/_media-queries.scss";

$default-video-row-height: 150px;
$desktop-video-row-height: $default-video-row-height;
$desktop-video-row-thumb-aspect-ratio: 16/9;
$desktop-video-row-margin-bottom: 10px;

.videos{
  position: relative;
  .video{
    position: relative;
    overflow: hidden;
    margin-bottom: $desktop-video-row-margin-bottom;
    height: $default_video_row_height;

    @include min-screen(1024px) {
      height: $desktop_video_row_height;
    }

    .video-thumb{
      float: left;

      @include min-screen(1024px) {
        height: $desktop_video_row_height;
        width: $desktop_video_row_height * $desktop-video-row-thumb-aspect-ratio;
      }

      overflow: hidden;
    }

    .video-information{
      height: $desktop_video_row_height;
      background-color: $list-item-color;
      width: auto;
      overflow: hidden;

      .video-descriptions{
        h3{
          margin-top: 0.5em;
        }
        padding-left: 0.5em;
      }

      .video-actions{
        width: 100%;
        padding-right: 50px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;

        @include min-screen(1024px) {
          height: 50px;
        }
        .round-icon-button{
          color: $white;
          background-color: $light-gray;
          float: right;
          height: 100%;

          @include min-screen(1024px) {
            width: 50px;
          }

          span{
            font-size: 1vw;
          }
        }

        .round-icon-botton:hover{
          background-color: $dark-gray;
        }
      }
    }
  }
}
