<div class="row" ng-controller="CollectionsCtrl">
  <div class="col-md-12 collections">
    <div class="row">
      <div class="collections-list">

        <!-- The default "new collection" button -->
        <div class="collection col-sm-3">
          <div class="collection-content sixteen-nine">
            <div class="content">
              <div class="collection-thumb">
                <div class="center-wrapper">
                  <div class="center">
                    <button class="btn btn-default">
                      <i class="glyphicon glyphicon-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- The collections -->
        <div class="collection col-sm-3" ng-repeat="col in cols">
          <div class="collection-content sixteen-nine">
            <div class="content">
              <div class="collection-label">
                {{col.name}}
              </div>
              <div class="collection-thumb">
                <img ng-src="{{col.img}}" class="fill img-responsive" alt="{{col.amountVideos}}" />
              </div>
              <div class="collection-counter">
                <span class="badge">{{col.amountVideos}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
