<div class="row">
  <div class="navbar navbar-default">
    <div class="col-sm-12">
      <h3><a ui-sref="pages.list-collections">Edit collection {{editTitle}}</a></h3>
    </div>
  </div>
  <div class="col-md-12 collections">
    <div class="row">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="block in cols | chunkBy: 4 track by $index" index="$index">
          <div class="collections-list">

            <!-- The collections -->
            <div class="collection col-sm-3" ng-repeat="col in block">
              <div ng-if="col != null" class="collection-content sixteen-nine">
                <div class="content">
                  <div class="collection-label">
                    {{col.name}}
                  </div>
                  <div class="collection-thumb">
                    <a ng-if="col._id == editCol" ui-sref="pages.edit-collection.default({editColId: col._id, slideIndex: $index})">
                      <img ng-src="{{col.img}}" class="fill img-responsive" alt="{{col.amountVideos}}" />
                    </a>
                    <a ng-if="col._id != editCol" ui-sref="pages.edit-collection.other-collection({colId: col._id, slideIndex: $index})">
                      <img ng-src="{{col.img}}" class="fill img-responsive" alt="{{col.amountVideos}}" />
                    </a>
                  </div>
                  <div class="collection-counter">
                    <span class="badge">{{col.amountVideos}}</span>
                  </div>
                </div>
              </div>
              <div ng-if="col == null" class="collection-content sixteen-nine">
                <div class="content">
                  <div class="collection-label">
                    Repository
                  </div>
                  <div class="collection-thumb">
                    <a ui-sref="pages.edit-collection.other-collection({colId: 'repository', slideIndex: $index})">
                      <div class="fill"><span> </span></div>
                    </a>
                  </div>
                  <div class="collection-counter">
                    <span class="badge">{{col.amountVideos}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>
