<section class="items">
  <div class="row">
    <div class="navbar navbar-default">
      <div class="col-sm-3">
        <form class="navbar-form navbar-input-group" role="search" ng-submit ="search()">
          <div class="form-group">
            <div class="input-group search">
              <input type="text" class="form-control" placeholder="Search" ng-Model="searchQuery" name="searchQuery">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-6" ng-show="col == 'repository'"><!-- ng-if="col == 'repository'">-->
        <form class="text-center navbar-form navbar-input-group paging" role="pagination">
              <div class="form-group">
                <uib-pagination max-size="maxPages" ng-hide="totalItems < limit" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></uib-pagination>
              </div>
        </form>
      </div>
      <div class="col-sm-3" ng-show="col == 'repository'">
      </div>
      <div class="col-sm-3" ng-show="col != 'repository'">
        <form class="navbar-form navbar-input-group">
          <label for="gender">Order by gender:</label>
          <select class="form-control" ng-Model="gender" name="gender" ng-Change="search()" id="gender">
            <option ng-repeat="gender in genders" value="{{gender.id}}">{{gender.name}}</option>
          </select>
        </form>
      </div>
      <div class="col-sm-3" ng-show="col != 'repository'">
        <form class="navbar-form navbar-input-group">
          <label for="age">Order by age:</label>
          <select class="form-control" ng-Model="age" name="age" ng-Change="search()" id="age">
            <option ng-repeat="age in ages" value="{{age.id}}">{{age.name}}</option>
          </select>
        </form>
      </div>
      <div class="col-sm-3" ng-show="col != 'repository'">
        <form class="navbar-form navbar-input-group">
          <label for="age">Order by education:</label>
          <select class="form-control" ng-Model="education" name="education" ng-Change="search()" id="education">
            <option ng-repeat="education in educations" value="{{education.id}}">{{education.name}}</option>
          </select>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="items-list col-sm-12">
      <div class="item row" ng-repeat="(key,video) in items">
        <div class="container-fluid">
          <div class="col-sm-12">
            <div class="row basic-info contents">
              <a href ng-click="playVideo(key)">
                <div class="item-thumb">
                  <img class="fill image-responsive" ng-src="{{video.img}}" alt="{{video.name}}" />
                </div>
              </a>
              <div class="item-information">
                <div class="row fill-height">
                    <div class="col-sm-8">
                      <div class="video-descriptions">
                          <h3>{{video.name}}</h3>
                        <span>{{video.description}}</span>
                      </div>
                    </div>
                    <div class="col-sm-4 fill-height">
                      <div class="item-actions" ng-repeat="action in actions">
                        <button ng-if="action.action == 'addVideo'" class="item-action btn btn-default round-icon-button" ng-click="addVideo(video.refer, key)">
                          <span class="glyphicon glyphicon-{{action.icon}}"></span>
                        </button>
                        <button ng-if="action.action == 'removeVideo'" class="item-action btn btn-default round-icon-button" ng-click="removeVideo(video._id)">
                          <span class="glyphicon glyphicon-{{action.icon}}"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="navbar navbar-default">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <form class="text-center navbar-form navbar-input-group paging" role="pagination">
                <div class="form-group">
                  <uib-pagination max-size="maxPages" ng-hide="totalItems < limit" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></uib-pagination>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </div>
</section>
